<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <p class="title is-2">Edit: {{ (product$ | async)?.name }}</p>
          </div>
        </div>
      </div>

      <ng-container
        *ngIf="productForm$ | async as productForm; else productNotLoadedTemplate"
      >
        <app-product-input-form
          [form]="productForm"
          (onSubmit)="onFormSubmit($event)"
          (onCancel)="onFormCancel()"
        ></app-product-input-form>
      </ng-container>

      <ng-template #productNotLoadedTemplate>Loading...</ng-template>
    </div>
  </div>
</section>
